html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  text-align: center;

}

.rightSideContent {
  padding: 0 2.0rem;
}

@media screen and (min-width: 991px) {
  
}

@media screen and (max-width: 990px) {
  .rightSideContent {
    padding: 0;
  }
}